<div class="card-container">
  <a class="card" rel="noopener" [routerLink]="['/', movieInput.media_type, movieInput.id ]" routerLinkActive="active">
    <img src="{{'http://image.tmdb.org/t/p/w185' + movieInput.poster_path}}">
    

      <span>{{ movieInput.media_type=="tv"? movieInput.name : movieInput.title}}</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
</div>
