.header{
    border-bottom: 1px solid var(--primaryColor);
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom right, rgba(9.41%, 6.27%, 9.02%, 1.00), rgba(9.41%, 6.27%, 9.02%, 0.84));
}

.div.custom_bg {
    background-image: linear-gradient(to right, rgba(9.41%, 6.27%, 9.02%, 1.00) 150px, rgba(9.41%, 6.27%, 9.02%, 0.84) 100%);
}

div.custom_bg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section div.header.first div.single_column {
    padding-top: 30px;
    padding-bottom: 30px;
}

section div.header div.single_column {
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
}

section.inner_content div.header div.single_column *, section.inner_content div.header div.single_column a {
    color: #fff;
}

div.single_column {
    max-width: var(--maxPrimaryPageWidth);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 0;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
}
section.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding-left: 40px;
}

section.inner_content section.images {
    display: flex;
    flex-wrap: nowrap;
}

#original_header{
    display: flex;
}

section.inner_content section.images > div.poster_wrapper {
    border-width: 0px;
    min-width: 300px;
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: var(--imageBorderRadius);
}

section.inner_content section.header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding-left: 40px;
}
div.header_info {
    width: 100%;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-size: cover;
}